body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px); /* Ajustez si nécessaire en fonction de la hauteur de votre barre de menu */
}

.hidden {
    display: none;
}

.palette-container {
    max-height: 100%;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.palette-tabs {
    display: none;
}

.palette-tab {
    flex: 1;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid #ccc;
}

.palette-tab:last-child {
    border-right: none;
}

.palette-tab.active {
    background-color: #fff;
    font-weight: bold;
}

.palette-content {
    flex: 1;
    overflow-y: auto;
}

.palette-panel {
    padding: 10px;
}

.palette-footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-top: 1px solid #ccc;
    background-color: #ddd;
}

.layer-grip {
    width: 20px;
    height: 100%;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.layer-grip.dragging {
    cursor: grabbing;
}

.layer-grip i {
    font-size: 16px;
    color: #666;
}

.layer-item {
    display: flex;
    align-items: center;
    background-color: #F8F8F8;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.layer-item.drag-over {
    border-top: 2px solid #007bff;
}

.layer-item.selected {
    background-color: #D8D8D8;
}

.layer-item:hover {
    background-color: #D8D8D8;
}

.layer-item input[type="checkbox"] {
    margin-right: 5px;
    display: none;
}


.layer-item span {
    flex-grow: 1;
    cursor: pointer;
}

.layer-item button {
    margin-left: 5px;
}

.layer-item .layer-eye,
.layer-item .layer-delete {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    cursor: pointer;
}

.eye-checkbox {
    position: relative;
    cursor: pointer;
    padding-right: 5px;
}

.eye-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.eye-checkbox .bx {
    font-size: 24px; /* Ajustez la taille selon vos besoins */
}

.eye-checkbox .bxs-show {
    display: none;
}

.eye-checkbox input:checked ~ .bxs-show {
    display: inline;
}

.eye-checkbox input:checked ~ .bxs-hide {
    display: none;
}

.layer-name-input {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: #333;
    font-size: 14px;
}

.layer-name-input:focus {
    outline: none;
}

.layer-item .layer-name {
    flex-grow: 1;
    color: #dcdcdc;
}

.layer-item.active .layer-name {
    font-weight: bold;
}

.layer-item .layer-delete {
    margin-left: auto;
}

.transformations-section {
    margin-bottom: 20px; /* Espacement entre les sections */
}

/* Optionnel : Styles spécifiques pour chaque section */
.layers-section {
    /* Styles pour la section des calques */
}

.transformations-section {
    /* Styles pour la section des transformations */
}

.layers-palette::-webkit-scrollbar {
    width: 8px;
}

.layers-palette::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

.layers-palette::-webkit-scrollbar-track {
    background: #333;
}

.controls-palette {
    width: 220px;
    background-color: #323232;
    color: #ffffff;
    padding: 10px;
    border-left: 1px solid #444;
    overflow-y: auto;
    max-height: 80vh;
}

.controls-palette h2 {
    margin-top: 0;
    font-size: 16px;
    font-weight: normal;
    color: #d0d0d0;
}

.controls-palette button,
.controls-palette select,
.controls-palette textarea {
    width: 100%;
    margin-bottom: 10px;
    background-color: #4d4d4d;
    color: #ffffff;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}

.controls-palette label {
    display: block;
    margin-bottom: 5px;
    color: #dcdcdc;
}

.transformation-box {
    width: 100%;
    background-color: #4d4d4d;
    color: #ffffff;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}

.menu-category label {
    color: #dcdcdc;
}

.menu-category input,
.menu-category select,
.menu-category button {
    background-color: #4d4d4d;
    color: #ffffff;
    border: none;
    padding: 3px;
}

.menu-category button {
    cursor: pointer;
}

#eraserButton.active {
    background-color: #ff6a00;
}

#color.disabled {
    background-image: linear-gradient(45deg, #888 25%, transparent 25%, transparent 50%, #888 50%, #888 75%, transparent 75%);
    background-size: 4px 4px;
    opacity: 0.5;
}

.layer-delete {
    margin-left: auto;
}

.layer-item .layer-name {
    flex-grow: 1;
    color: #dcdcdc;
    user-select: none;
}

.layer-item {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.layer-item .transform-toggle-button {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.transformation-area {
    padding: 5px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
}

.transformation-code {
    width: 100%;
    resize: vertical;
}

.transformation-selector {
    width: 100%;
    margin-top: 5px;
}

.transformation-footer {
    margin-top: 5px;
    text-align: right;
}

.error-display {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.layer-item {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.transformation-code-input {
    width: 100%;
    resize: vertical;
    margin-top: 5px;
}

.play-pause-button {
    margin-top: 5px;
}

.error-display {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Canvas qui prend tout l'espace disponible */
.canvas-container {
    padding: 1px;
    flex: 1;
    /*position: relative;*/
}

.redimensionnable {
    resize: both;
    overflow: scroll;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}


/* Style général du corps */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* Barre de menu */
.menu-bar {
    background-color: #F8F8F8;
    padding: 0;
    margin: 0;
    display: flex;
    height: 22px; /* Hauteur similaire à la barre de menu macOS */
    align-items: center;
    border-bottom: 1px solid #D1D1D1;
}

/* Menu principal */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item {
    position: relative;
}

.menu-item > a {
    display: block;
    padding: 0 10px;
    color: #000;
    text-decoration: none;
    line-height: 22px;
    font-size: 13px;
}

.menu-item:hover > a {
    background-color: #D8D8D8;
}

/* Sous-menu */
.submenu {
    display: none;
    position: absolute;
    top: 22px; /* Aligne le sous-menu sous la barre de menu */
    left: 0;
    background-color: #F8F8F8;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #D1D1D1;
    min-width: 150px;
    z-index: 10;
}

.middle {
    width: 200px;
}

.large {
    width: 230px;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu li a {
    display: flex; /* Transforme le lien en conteneur flex */
    align-items: center; /* Centre verticalement les éléments enfants */
    padding: 5px 15px 5px 10px;
    color: #000;
    text-decoration: none;
    font-size: 13px;
}

.submenu li a i {
    margin-right: 5px;
    font-size: 22px;
    display: inline-block;
}

.submenu li a:hover {
    background-color: #D8D8D8;
}

.submenu li:not(:last-child) {
    border-bottom: 1px solid #E1E1E1;
}
