body, html {
    height: 100%;
    margin: 0;
}

.toolbar {
    width: 48px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin: 4px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.icon:active {
    transform: scale(0.9);
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    flex: 1;
}

#drawing-surface {
    background-color: white;
    cursor: crosshair;
}