body, html {
    height: 100%;
    margin: 0;
}

.toolbar {
    width: 300px;
    background-color: #343a40;
    color: white;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
}

.icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.icon:active {
    transform: scale(0.9);
}

.toolbar button {
    background: none;
    border: none;
    color: white;
    margin: 10px 0;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    flex: 1;
}

#drawing-surface {
    background-color: white;
    cursor: crosshair;
}